@model PagedList.IPagedList<QLBH_2051010137_VoDinhKhang.Models.SanPham>
@using PagedList.Mvc;
@using QLBH_2051010137_VoDinhKhang.Models
@using System.Linq
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KUYN_APPLE</title>
    <link rel="shortcut icon" type="Images" href="~/Images/KUYN_APPLE.png" />

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <link href="~/css/stylehome.css" rel="stylesheet" />
</head>
<body>

    <!-- ket thuc headernavmenu -->
    <!-- headerslides -->
    <div class="slideheader">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="0"
                        class="active"
                        aria-current="true"
                        aria-label="Slide 1"></button>
                <button class=""
                        type="button"
                        data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Images/banner iphone 14 Pro Max T10_Banner PC.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item">
                    <img src="~/Images/banner iphone 15 TH_PC (3).jpg" class="d-block w-100" alt="..." />

                </div>
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- end headerslides -->
    <!-- Card Sanpham -->
    <div class="container" id="Sanpham-cards">
        <h1 class="text-center"><i class="fa-brands fa-apple"></i>APPLE</h1>

        <div class="Timkiem">

            @using (Html.BeginForm())
            {
                <p></p>
                <div class="form-group form-inline w-25 d-flex">
                    @Html.TextBox("SearchString", "", new { @class = "form-control" })
                    <button class="btn btn-outline-info" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            }
        </div>

        <div class="row" style="margin-top: 30px">
            @foreach (var item in Model)
            {

                <div class="col-md-3 py-3 py-md-0" style="margin-top:30px">
                    <div class="card">
                        @Html.Image("../" + item.HinhAnh, "alt", "100%")

                        <div class="card-body">
                            <h3 class="text-center">  @Html.DisplayFor(modelItem => item.TenSP)</h3>
                            <p class="text-center">Giá siêu rẻ</p>
                            <div class="star text-center">
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                                <i class="fa-solid fa-star checked"></i>
                            </div>  
                            <div class="pt-3">
                                <h3 class='card-text d-inline float-start py-2'> @Html.DisplayFor(modelItem => item.DonGia)</h3>
                                <a class='btn btn-outline-secondary float-end' href="@Url.Action("Details", "Sanphams", new {id = item.MaSP})"><li class="fa-solid fa-eye"></li></a>
                                <a class='btn btn-outline-secondary float-end ' href="@Url.Action("AddToCart", "GioHang", new {MaSP = @item.MaSP})"> <li class="fa-solid fa-cart-shopping"></li></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="text-white container  " >
        Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            currentFilter = ViewBag.CurrentFilter
        }))
    </div>
    <!-- row san pham Watch -->
    <!-- Card Sanpham -->
    <!-- sale cards -->
    <div class="container" id="other-cards">
        <div class="row">
            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/mac-pro-13-m2-xam.jpg" alt="" />
                    <div class="card-img-overlay">
                        <h3>Best MacBook</h3>
                        <h5>Sản phẩm mới nhất</h5>
                        <p>Giảm giá đến 15%</p>
                        <button id="Muahang">Mua ngay</button>
                    </div>
                </div>
            </div>
            <!-- sale 1 -->

            <div class="col-md-6 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/airpods-max-select-hong.jpg" alt="" />
                    <div class="card-img-overlay">
                        <h3>Best Airpods</h3>
                        <h5>Sản phẩm mới nhất</h5>
                        <p>Giảm giá đến 15%</p>
                        <button id="Muahang">Mua ngay</button>
                    </div>
                </div>
            </div>
            <!-- sale 2 -->
        </div>
    </div>
    <!-- sale cards -->
    <!-- banner -->
    <section class="banner">
        <div class="content_banner">
            <h1>
                <span>iPhone 15 Pro và iPhone 15 Pro Max</span>
                <br />
                Giảm giá đến <span id="span2">20%</span>
            </h1>
            <p>
                iPhone 15 Pro và iPhone 15 Pro Max sở hữu thiết kế Titan mỏng nhẹ
                <br />
                và mạnh mẽ với nhiều điểm mới: cạnh viền mới, Nút Tác Vụ mới, nâng cấp
                camera và chip A17 Pro.
            </p>
            <div class="btn">
                <button>Mua ngay</button>
            </div>
        </div>
        <div class="img">
            <img src="~/Images/banner iphone 15 vang.png" alt="" />
        </div>
    </section>
    <!-- het banner -->
    <!-- Card iphone 15 -->
    <div class="container" id="Sanpham-cards">
        <h1 class="text-center py-5" id="iPhone">
            <i class="fa-brands fa-apple"></i>iPhone
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iphone-15-pro-gray.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPhone 15 Pro 256GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                           
                            <h3 class='card-text d-inline float-start py-2'>25,000,000</h3>
                            <a href="" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end' href="@Url.Action("AddToCart", "GioHang", new {MaSP = 26} )"><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iphone-15-plus-blue.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPhone 15 Plus 128GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iphone-15-plus-green.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPhone 15 Plus 512GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 3 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iphone-15-pro-black.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPhone 15 Pro 1TB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!-- het row san pham 1 -->
        <!-- row san pham Watch -->
        <h1 class="text-center py-5" id="Watch">
            <i class="fa-brands fa-apple"></i>WATCH
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/apple-watch-se-2022-44mm-vien-nhom-den-xanh.jpg"
                         alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            Apple Watch SE 20222 GPS 44<small>mm</small>
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/apple-watch-se-2022-gps-40mm-trang-kem.jpg"
                         alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            Apple Watch SE 20222 GPS 40<small>mm</small>
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/apple-watch-s8-41mm-do.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            Apple Watch Series 8 GPS 41<small>mm</small>
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 3 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/apple-watch-s8-ultra-cao-su-vang.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            Apple Watch Ultra GPS + Cellular 49<small>mm</small>
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!-- row san pham Watch -->
        <!-- row Mac -->
        <h1 class="text-center py-5" id="Mac">
            <i class="fa-brands fa-apple"></i>MacBock
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/mac-air-13-m1-xam.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            MacBook Air 13 inch M1 2020 8CPU/8GB/256GB/7GPU
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/mac-air-13-m2-vang.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            MacBook Air 13 inch M2 2022 8CPU/8GB/256GB/8GPU
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/mac-pro-13-m2-bac.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            MacBook Pro 13 inch M2 2022 8CPU/8GB/256GB/10GPU
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ket thuc card 3 -->

            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/mac-air-15-m2-xam.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            MacBook Air 15 inch M2 2023 8CPU/8GB/256GB/10GPU
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!-- ket thuc row iMac -->
        <!-- card ipad -->

        <h1 class="text-center py-5" id="iPad">
            <i class="fa-brands fa-apple"></i>iPad
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/ipad-gen-9-silver-label.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPad 9 WiFi 64GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iPad-gen-10-sliver.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPad 10 WiFi 64GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/iPad-Pro-M2-11-sliver-thumb-label.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPad Pro M2 128GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 3 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/ipad-air-5-wifi-startlight-label.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">iPad Air 5 WiFi 64GB</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!--het card ipad -->
        <!-- card airpod -->
        <h1 class="text-center py-5" id="phukien">
            <i class="fa-brands fa-apple"></i>Phụ Kiện
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/adapter-sac-type-c-20w-cho-iphone-ipad-apple-mhje3-(6).jpg"
                         alt="" />
                    <div class="card-body">
                        <h3 class="text-center">Adapter sạc Apple USB-C 20W</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/op-lung-magsafe-iphone-14-pro-max-nhua-trong-apple-mpu73-thumb-650x650.jpg"
                         alt="" />
                    <div class="card-body">
                        <h3 class="text-center">Ốp lưng cho iPhone 14 Pro Max</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/cap-type-c-lightning-1m-apple-mm0a3-trang-(4).jpg"
                         alt="" />
                    <div class="card-body">
                        <h3 class="text-center">
                            Cáp sạc USB-C-lightning 1 <small>m</small>
                        </h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 3 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/magic-keyboard-(1).jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">Magic Keyboard thế hệ mới</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!-- het card airpod -->
        <!-- phụ kiện -->
        <h1 class="text-center py-5" id="AirPods">
            <i class="fa-brands fa-apple"></i>AirPods
        </h1>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/airpods-pro-2.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">AirPods Pro (2nd Gen)</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <!-- <h2>
                          5.000.000đ
                          <span><li class="fa-solid fa-cart-shopping"></li></span>
                          <a href="ChitietSanpham.html"><span ><li class="fa-solid fa-eye"></li></span></a>
                        </h2> -->
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ket thuc card 1 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/airpods-3-23.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">AirPods 3 sạc Lightning</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 2 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/tai-nghe-bluetooth-airpods-2-apple.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">AirPods 2 Hộp sạc thường</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end' href="@Url.Action("Details", "Sanphams")> <li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 3 -->
            <div class="col-md-3 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/airpods-3-tkm.jpg" alt="" />
                    <div class="card-body">
                        <h3 class="text-center">AirPods 3 hộp sạc thường</h3>
                        <p class="text-center">Giá siêu rẻ</p>
                        <div class="star text-center">
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                            <i class="fa-solid fa-star checked"></i>
                        </div>
                        <div class="pt-3">
                            <h3 class='card-text d-inline float-start py-2'>5,000,000</h3>
                            <a href="ChitietSanpham.html" class='btn btn-outline-secondary float-end'><li class="fa-solid fa-eye"></li></a>
                            <a class='btn btn-outline-secondary float-end'><li class="fa-solid fa-cart-shopping"></li></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ket thuc card 4 -->
        </div>
        <!-- het card phu kien -->
    </div>
    <!-- het Card iphone 15 -->
    <!-- other cards -->
    <div class="container" id="Mua">
        <div class="row">
            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/IP_Desktop.jpg" alt="" />
                    <div class="card-img-overlay">
                        <h3>iPhone Series</h3>
                        <p>Siêu sale tháng 10 giảm đến 50%</p>
                    </div>
                </div>
            </div>
            <!-- iphone -->

            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/Mac_Desktop.jpg" alt="" />
                    <div class="card-img-overlay">
                        <h3>MacBook</h3>
                        <p>Siêu sale tháng 10 giảm đến 10%</p>
                    </div>
                </div>
            </div>
            <!-- mac -->

            <div class="col-md-4 py-3 py-md-0">
                <div class="card">
                    <img src="~/Images/IPad_Desktop.jpg" alt="" />
                    <div class="card-img-overlay">
                        <h3>iPad</h3>
                        <p>Siêu sale tháng 10 giảm đến 60%</p>
                    </div>
                </div>
            </div>
            <!-- ipad -->
        </div>
    </div>
    <!--  het other cards -->
    <!-- chương trình khuyến mãi khi mua hàng tại store -->
    <div class="container" id="CTKM">
        <div class="row">
            <div class="col-md-3 py-3 py-md-0">
                <i class="fa-solid fa-cart-shopping"></i>
                <h3>Giảm 200.000đ</h3>
                <p>Cho đơn hàng online</p>
            </div>

            <div class="col-md-3 py-3 py-md-0">
                <i class="fa-solid fa-truck"></i>
                <h3>Miễn phí ship toàn quốc</h3>
                <p>Cho khách hàng đặt hàng online</p>
            </div>

            <div class="col-md-3 py-3 py-md-0">
                <i class="fa-solid fa-rotate-left"></i>
                <h3>Đổi sản phẩm mới</h3>
                <p>
                    Khi sản phẩm bị lỗi trong vòng 2 tuần đầu tiên kể từ ngày mua hàng
                </p>
            </div>

            <div class="col-md-3 py-3 py-md-0">
                <i class="fa-solid fa-fire"></i>
                <h3>Chào mừng 20.10</h3>
                <p>
                    Chị em phụ nữ khi tới mua hàng vào ngày này sẽ được giảm giá
                    100.000đ trên mỗi hóa đơn
                </p>
            </div>
        </div>
    </div>
    <!-- chương trình khuyến mãi khi mua hàng tại store -->

</body>
</html>


